<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpLocalFolder" value="c:\\temp" />
    <add key="FtpHost" value="ftp://114.202.2.33/Update/demo_server/" />
    <add key="FtpPort" value="21" />
    <add key="FtpPass" value="eclues!@" />
    <add key="FtpUserName" value="eclues" />
    <add key="FtpFileName" value="WeDo_Server_Demo.msi" />
    <add key="ProductName" value="WeDo Server Demo" />
    <add key="EXEDir" value="C:\\eclues\\WeDo Server Demo\\WDMsgServer_Demo.exe"/>
    <add key="LocalDir" value="C:\\eclues\\WeDo Server Demo\\"/>
    <add key="backupFileName" value="WDMsgServer_Demo.exe.config" />
  </appSettings>
</configuration>