<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpLocalFolder" value="c:\\temp" />
    <add key="FtpHost" value="ftp://114.202.2.33/Update/server/" />
    <add key="FtpPort" value="21" />
    <add key="FtpPass" value="eclues!@" />
    <add key="FtpUserName" value="eclues" />
    <add key="FtpFileName" value="WD_Server.msi" />
    <add key="ProductName" value="WD_Server" />
    <add key="EXEDir" value="C:\\eclues\\WD_Server\\WD_Server.exe"/>
    <add key="LocalDir" value="C:\\eclues\\WD_Server\\"/>
    <add key="backupFileName" value="WD_Server.exe.config" />
  </appSettings>
</configuration>