<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpLocalFolder" value="c:\\temp" />
    <add key="FtpHost" value="ftp://114.202.2.33/Update/client/" />
    <add key="FtpPort" value="21" />
    <add key="FtpPass" value="test" />
    <add key="FtpUserName" value="test" />
    <add key="FtpFileName" value="Setup.msi" />
    <add key="ProductName" value="WeDo" />
    <add key="EXEDir" value="C:\\eclues\\WeDo\\WDMsg_Client.exe"/>
    <add key="LocalDir" value="C:\\eclues\\WeDo\\"/>
    <add key="backupFileName" value="WDMsg_Client.exe.config" />
  </appSettings>
</configuration>