<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FtpLocalFolder" value="c:\\temp" />
    <add key="FtpHost" value="ftp://114.202.2.33/Update/test/demo_client/" />
    <add key="FtpPort" value="21" />
    <add key="FtpPass" value="test" />
    <add key="FtpUserName" value="test" />
    <add key="FtpFileName" value="Setup_DEMO.msi" />
    <add key="ProductName" value="WeDo Client Demo" />
    <add key="EXEDir" value="C:\\eclues\\WeDo Client Demo\\WDMsg_Client_Demo.exe" />
    <add key="LocalDir" value="C:\\eclues\\WeDo Client Demo\\" />
    <add key="backupFileName" value="WDMsg_Client_Demo.exe.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>