<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpLocalFolder" value="c:\\temp" />
    <add key="FtpHost" value="ftp://114.202.2.33/Update/demo_client/" />
    <add key="FtpPort" value="21" />
    <add key="FtpPass" value="eclues!@" />
    <add key="FtpUserName" value="eclues" />
    <add key="FtpFileName" value="Setup_DEMO.msi" />
    <add key="ProductName" value="WeDo Client Demo" />
    <add key="EXEDir" value="C:\\eclues\\WeDo Client Demo\\WDMsg_Client_Demo.exe"/>
    <add key="LocalDir" value="C:\\eclues\\WeDo Client Demo\\"/>
    <add key="backupFileName" value="WDMsg_Client_Demo.exe.config" />
  </appSettings>
</configuration>